# Dev stuff
__pycache__
*.sw?
.idea/
# Locally generated
#/settings
/settings/system_paths.csv
/settings/additional_words.csv
/settings/websites.csv
.vscode/settings.json
sdf.py
sdf.txt
/core/my_customizations/hostname_specific_actions/gamen_computer_git_ignored.talon
/apps/my_customizations/jira.talon
/core/modes/power_mode/specific_actions_for_websites/power_mode_jira.talon
.DS_Store